@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.section {
  @include section();
  background-color: #343a40 !important;

  .container {
    @include containerNew();
    .content {
      display: flex;
      flex-wrap:wrap;
      margin-top: calc(-1 * 3rem);
      margin-right: calc(-0.5 * 3rem);
      margin-left: calc(-0.5 * 3rem);
      .colEducation {
        @media (min-width: 768px) {
          flex: 0 0 auto;
          width: 50%;
        }
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-left: calc(1.5rem * .5);
        padding-right: calc(1.5rem * .5);
        margin-top: 0;

        h2 {
          font-size: 1.5rem !important;
          margin-bottom: 1.5rem !important;
          color: white;
          font-weight: 600;
        }
      }
      }
  }
}

//.colEducation{
//  flex: 0 0 auto;
//  width: 50%;
//
//  h2{
//    font-size: 1.5rem !important;
//    margin-bottom: 1.5rem !important;
//    color: white;
//    font-weight: 600;
//  }
//}