@import "../common/styles/sass/mixinsNew";

.selector {
  @include section();
  background-color: #212529 ;

  .container {
    @include container();

    .content {
      @include row();
      color: #dee3e4!important;;
      font-family: Poppins,sans-serif;
      .contentDetail {
        //flex-shrink: 0;
        //width: 100%;
        //max-width: 100%;
        padding-right: 1.5rem * .5;
        padding-left: 1.5rem * .5;
        margin-top: 3rem;
       // order: 1 !important;

        text-align: center !important;

        h2{
          margin-bottom: 1rem !important;
          font-size: 1.3125rem !important;
          text-transform: uppercase !important;
          font-weight: 500;
          line-height: 1.2;
          margin-top: 0;
        }
        //span{
        //  color: #20c997 ;
        //  font-size: 1.25rem ;
        //  margin-right: 0.5rem !important;
        //}

        .contentDetailAddress{
          font-size: 1rem ;
          margin: 0 0  1.5rem  !important;

         // margin-bottom: 1.5rem !important;
          line-height: 1.8;
          color: #dee3e4 ;
        }
        .contentDetailText{
          font-size: 1rem !important;
          margin: 0 0 .25rem !important;
          line-height: 1.8;
          color: #dee3e4 ;

        }



        @media (min-width: 768px) {
          flex: 0 0 auto;
          width: 33.33333333%;
          order: 0 !important;
          text-align: left !important;
        }
        @media (min-width: 1200px) {
          flex: 0 0 auto;
          width: 25%;
        }
      }

      .contentForm{

        @media (min-width: 768px) {
          flex: none;
          width: 66.66666667%;
          order: 1 !important;
        }
        @media (min-width: 1200px)  {
          flex: 0 0 auto;
          width: 75%
        }
        h2{
          margin-bottom: 1rem !important;
          font-size: 1.3125rem !important;
          text-transform: uppercase !important;
          font-weight: 500;
          line-height: 1.2;
          margin-top: 0;
        }
        .form{
          display: inline;
          margin: 0;
          padding: 0;
          border-color: #232a31;
          background:#232a31;
          color: #fff;
          .formRow{
            @include row();
            .formColm{
              width: 100%;


              @media (min-width: 1200px){
                flex: 0 0 auto;
                width: 50%;
              }

              .formTextArea{
                flex: 1 0 0%;
              }

            }
            .fromButtonText{
              text-align: center;
              margin-top: 1.5rem !important;
              margin-bottom: .25rem !important;
              line-height: 1.8;

              .formButton{
               @include btn();
              }
            }
          }
        }


      }
    }
  }
}
.contentDetailIcon{
  color: #20c997 ;
  font-size: 1.25rem ;
  margin-right: 0.5rem !important;
}
.formControl{
  font-family: Poppins,sans-serif;
  //background: #232a31;
  background-color: #343a40 !important;
  // border-color: #232a31;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  //background-color: #fff;
  border: 1px solid #232a31;
  border-radius: 0.375rem;
  color: white ;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  // padding: 0.375rem 0.75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
  height: inherit;
  padding: 0.81rem 0.96rem;
  &:focus{
    outline: none;

    border-color: #80bdff!important;
  }

}