@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.title {
  margin: 0 0 30px;
  @include text($fontFamilyJosefinSans, 36px, 1.2,400);
  //font-family: 'Josefin Sans', sans-serif;
  //font-weight: 300;
  //font-size: 36px;
  //line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  .title h2 {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
    background: $primaryColor;
    width: 55px;
    height: 1px;
  }
}



