@import "../../common/styles/sass/mixins";

.section {
  position: relative;
  //padding: 4.5rem 0;

  overflow: hidden;
  //opacity: .65;
 // behavior: "smooth";

  .homeWrap {
    overflow: hidden;
    position: relative;

    .homeMask {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0.8;
      background-color: rgba(33, 37, 41, 1) !important;

    }

    .homeBg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background-position: 50%;
      background-attachment: fixed;

      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      transition: background-image 300ms ease-in 200ms;
    }

    .homeContent {
      position: relative;
      z-index: 2;
      //padding: 4.5rem 0;
      overflow: hidden;
      display: flex !important;
      min-height: 100vh !important ;

      .homeContainer {
        @include containerNew();
        margin-top: auto !important;
        margin-bottom: auto !important;

        .homeRow {
          @include row();

          .column {
            flex: 0 0 auto;
            width: 100%;
            text-align: center !important;

            .contentWelcome {
              @include text($fontFamilyPoppins, 1.75rem !important, 1.8, 600);
              //font-size: 1.75rem!important;
              //font-weight: 500;
              //color: white;
              //line-height: 1.8;
              margin-top: 0;
              margin-bottom: 0.5rem !important;
              @media (min-width: 768px) {
                margin-bottom: 1rem !important;
              }
            }

            .contentName {
              @include text($fontFamilyPoppins, calc(1.525rem + 3.3vw) !important, 1.3, 700);
              //font-size: calc(1.525rem + 3.3vw) !important;
              //line-height: 1.3;
              //font-weight: 600;
              //color: white;
              @media(min-width: 1200px) {
                font-size: 4rem !important;

              }
            }

            .contentLocation {
              @include text($fontFamilyPoppins, 1.3125rem, 1.8, 600);
              //font-size: 1.3125rem !important;
              //color: rgba( 248, 249, 250, 1) !important;
              margin-bottom: 1.5rem !important;
            }

            .btnContact {
              //@include text($fontFamilyPoppins, calc(1.525rem + 3.3vw) !important, 1.3, 500);
              font-family: $fontFamilyPoppins;
              padding: .8rem 2.6rem;
              font-weight: 500;
             // border-width: 2px;
              -webkit-transition: all .5s ease;
              transition: all .5s ease;
              color: #20c997;
              //border-color: #20c997 !important;
              border: 1px solid #20c997;
              border-radius: 50rem !important;
              box-shadow: none !important;
              margin-top: .5rem !important;
              display: inline-block;
              text-align: center;
              text-decoration: none;
              vertical-align: middle;
              cursor: pointer;

              //&:not(:disabled):not(.disabled).active{
              //  color: #20c997;
              //  border-color: #20c997;
              //}

              &:hover {
                position: relative;
                top:-3px;
                box-shadow: 3px 4px 5px  2px #47866e !important;
                background-color: #20c997;
                border-color: #20c997;
                color: #fff
              }
              &:active{
                position: relative;
                top: 1px;
                box-shadow: 1px 1px 1px  1px #47866e !important;

              }
              //&:not(:disabled):not(.disabled).active:hover{
              //  background-color: #20c997;
              //  border-color: #20c997;
              //  color: #fff
              //}
            }

          }
        }
      }

    }
    .scrollDownArrow{
      position: absolute;
      z-index: 3;
      bottom: 20px;
      left: 50%;
      margin-left: -16px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 20px;
      text-align: center;
      color: #fff;
      scroll-behavior: smooth;
      .animated {
        position: relative;
        animation: fadeInDown 1.5s infinite;
        -webkit-animation: fadeInDown 1.5s infinite;
        -moz-animation: fadeInDown 1.5s infinite;
        -o-animation: fadeInDown 1.5s infinite;
        @keyframes fadeInDown {
          0% {
            top: -25px;
            opacity: 0;
          }
          100% {
            top: 10px;
            opacity: 1;
          }
        }
      }

    }
  }

  //@media(max-width: 575.98px) {
  //  padding: 3.5rem 0
  //}
}

