@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.mainBlock {
  height: 100vh;
  display: flex;
  justify-content: center;

  .img {

    position: absolute;
    //top: 80px; // можно и 0 тогда будет навигация в картинке

    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    opacity: 0.4;
  }

  .container {
    @include container();
    @include flex(row, space-around, center, wrap);
    opacity: 1 !important;

    .greeting {
      @include flex(column, flex-start, flex-start, nowrap);

      span {


        font-size: 16px;
        @include text($fontFamilyJosefinSans, 50px, 1.2, 700);
        letter-spacing: 5px;
        position: relative;
        margin: 10px 0;
      }

      h1 {
        font-size: 16px;
        @include text($fontFamilyJosefinSans, 50px, 1.2, 700);
        margin: 0;
        letter-spacing: 5px;
        position: relative;
      }

      @media screen and (max-width: 1143px) {
        align-items: center;
      }
    }

    //height: 100%;
    //width: 80%;
    //margin: 0 auto;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    .text {
      width: 300px;
      background-color: #f7f7f7;
    }

    .photo {
      width: 300px;
      height: 400px;
      background-color: #f7f7f7;
    }
  }
}



