@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";
.project{
    width: 450px;
    background-color: $bgSecondColor;
    .image{
        height: 300px;
        background-color: $textColor;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .viewBtn{
            background-color: $primaryColor;
            padding: 10px 20px;
            position: relative;
            z-index: 1;
        }
    }
    .projectInfo{
        padding: 25px 20px;
        background: $bgSecondColor;
        .projectTitle{
            //font-family: 'Josefin Sans', sans-serif;
            //font-size: 16px;
            //line-height: 1.2;
            //color: $textColor;
            @include  text($fontFamilyJosefinSans,16px, 1.2);
            letter-spacing: 1px;
            margin: 0 0  5px;


        }
        .description{
            //font-family: $fontFamilyPoppins;
            //line-height: 1.8;
            //font-size: 12px;
            //color: $textColor;

            @include  text($fontFamilyPoppins,12px, 1.8);
            font-weight: 400;


        }
    }

}



