@import "../../common/styles/sass/mixinsNew";

.modal {
  display: block;
  padding-left: 0;
  position: fixed;
  height: 100%;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  width: 100%;
  z-index: 1055;

  //background-color: #212529!important;
  transition: opacity .15s linear;

  .dialog {
    margin: 1.75rem;
    pointer-events: none;
    position: relative;
    width: auto;
    box-sizing: border-box;
    @media (min-width: 576px) {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--bs-modal-width);
    }
    @media (min-width: 1200px) {
      --bs-modal-width: 1140px;
    }

    .content {
      box-sizing: border-box;
      --bs-modal-border-width: 1px;
      --bs-modal-border-radius: 0.5rem;
      border-radius: var(--bs-modal-border-radius);
      background-color: #343a40 !important;
      display: flex;
      flex-direction: column;
      outline: 0;
      pointer-events: auto;
      position: relative;
      width: 100%;

      .contentBody {
        box-sizing: border-box;
        --bs-modal-padding: 1rem;
        flex: 1 1 auto;
        padding: var(--bs-modal-padding);
        position: relative;

        .btnClose {
          float: right;
          box-sizing: content-box;
          width: 1em;
          height: 1em;
          padding: .25em .25em;
          color: white;
          background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
          border: 0;
          border-radius: .375rem;
          opacity: .5;

        }

        .container {
          @include container();

          h2 {
            font-family: Poppins, sans-serif;
            font-size: 1.5rem !important;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1.5rem !important;
            color: white;
          }

          .containerRow {
            @include row();

            .containerPhoto {

              @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 58.33333333%
              }

              img {
                max-width: 100%;
                height: auto;
              }
            }

            .containerContent {
              font-size: 1.125rem;
              font-weight: 600;
              --bs-white-rgb: 255, 255, 255;
              --bs-text-opacity: 1;
              color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
              font-family: Poppins, sans-serif;
              line-height: 1.8;
              @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 41.66666667%
              }

              h2 {
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 0.5rem;
                margin-top: 0;
              }

              p {
                margin-bottom: 1rem;
                margin-top: 0;
              }

              .list {

                padding: 0;

                & > li {
                  list-style-type: none;
                  border-bottom: 1px solid #eaeaea;
                  padding-left: 5px;
                  padding-top: 12px;
                  padding-bottom: 12px;
                  border-bottom: 1px solid rgba(250, 250, 250, .12);
                }
                span{
                  margin-right: .5rem !important;
                }
              }
            }
          }

        }
      }
    }
  }
}